<!DOCTYPE html>
<html>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <a href="/">Home</a> | <a href="/prospectiveStudents">Prospective Students</a> | <a href="/students">Students</a> |
    <a href="/staff">Staff</a> | <a href="/alumni">Alumni</a>
    <h1>Enroll - Courses</h1><a href={{previousUrl}}>Back</a>
    <div class="container">
        <table>
            <tr>
                <th>Section Number</th>
                <th>Year</th>
                <th>Semester</th>
                <th>Course Number</th>
                <th>Title</th>
                <th>Credits</th>
                <th>Instructor</th>
                <th>Action</th>
              </tr>
            {% for n in enrollCourses %}
            <tr>
                <th>{{n[0]}}</th>
                <th>{{n[1]}}</th>
                <th>{{n[2]}}</th>
                <th>{{n[3]}}</th>
                <th>{{n[4]}}</th>
                <th>{{n[5]}}</th>
                <th>{{n[6]}} {{n[7]}}</th>
                {% if n[0] in remover %}
                <th><form action="../../students/modifyEnroll"  method="post">
                    <input type="text" value={{studentId}} name="studentId" hidden>
                    <input type="text" value={{n[3]}} name="courseNumber" hidden>
                    <input type="text" value={{n[0]}} name="sectionNumber" hidden>
                    <input type="text" value={{n[9]}} name="instructorId" hidden>
                    <input type="text" value={{n[1]}} name="year" hidden>
                    <input type="text" value={{n[2]}} name="semester" hidden>
                    <input type="text" value="Register" name="action" hidden>
                    <input type="text" value="{{previousUrl}}" name="previousUrl" hidden>
                    <input type="submit" value="Register" />
                </form></th>
                {% else %}
                <th><form action="../../students/modifyEnroll"  method="post">
                    <input type="text" value={{studentId}} name="studentId" hidden>
                    <input type="text" value={{n[3]}} name="courseNumber" hidden>
                    <input type="text" value={{n[0]}} name="sectionNumber" hidden>
                    <input type="text" value={{n[9]}} name="instructorId" hidden>
                    <input type="text" value={{n[1]}} name="year" hidden>
                    <input type="text" value={{n[2]}} name="semester" hidden>
                    <input type="text" value="Drop" name="action" hidden>
                    <input type="text" value="{{previousUrl}}" name="previousUrl" hidden>
                    <input type="submit" value="Drop" />
                </form></th>
                {% endif %} 
            </tr>
            {% endfor %}
        </table>
        <br>
        <p>You are registered in {{totalCredits}}/30 Credits</p>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

</html>