<!DOCTYPE html>
<html>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <a href="/">Home</a> | <a href="/prospectiveStudents">Prospective Students</a> | <a href="/students">Students</a> |
    <a href="/staff">Staff</a> | <a href="/alumni">Alumni</a>
    <h1>Admitted Applicants</h1>
    <div class="container">
        <table>
            <tr>
                <th>User ID</th>
                <th>Application ID</th>
                <th>Date Received</th>
                <th>Admission Term</th>
                <th>Program</th>
            </tr>
            {% for n in my_list %}
            <tr>
                <th>{{n[0]}}</th>
                <th>{{n[1]}}</th>
                <th>{{n[2]}}</th>
                <th>{{n[3]}}</th>
                <th>{{n[4]}}</th>
            </tr>

            {% endfor %}

        </table>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

</html>