<html>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <a href="/">Home</a> | <a href="/prospectiveStudents">Prospective Students</a> | <a href="/students">Students</a> |
    <a href="/staff">Staff</a> | <a href="/alumni">Alumni</a>
    <h1>Staff Page {{roles[0]}}</h1>
    {% if roles[0][4] == 'YES' %}
    <form action="../../staff/updateApplications">
        <input type="submit" value="GS - Update Applications" />
    </form>
    {% endif %}
    {% if roles[0][3] == 'YES' %}
    <form action="../../staff/reviewApplications">
        <input type="submit" value="Reviewer - Review Applications" />
    </form>
    {% endif %}
    {% if roles[0][4] == 'YES' %}
    <form action="../../staff/finalDecisionApplications">
        <input type="submit" value="GS/CAC - Final Decision" />
    </form>
    {% endif %}
    {% if roles[0][4] == 'YES' %}
    <form action="../../staff/formallyAdmitApplicants">
        <input type="submit" value="GS - Formally Admit Applicant" />
    </form>
    {% endif %}
    {% if roles[0][4] == 'YES' or roles[0][1] == 'YES' %}
    <form action="../../staff/gradeStudents">
        <input type="submit" value="GS/Instructor - Grade Students" />
    </form>
    {% endif %}
    {% if roles[0][4] == 'YES' %}
    <form action="../../staff/graduateStudentApplicants">
        <input type="submit" value="GS - Approve Graduate Students" />
    </form>
    {% endif %}
    {% if roles[0][2] == 'YES' %}
    <form action="../../staff/viewAdvisees" method="post">
        <input type="text" name="userId" hidden>
        <input type="submit" value="Submit" />
    </form>
    {% endif %}
    <div>
        {% if roles[0][4] == 'YES' or roles[0][3] == 'YES'  %}
        <p>Search Applicant</p>
        <form action="../../staff/searchApplicant" method="post" >
            <label for="id">ID</label>
            <input type="text" name="id" size="5">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" size="10">
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    
    <div>
        {% if roles[0][4] == 'YES' %}
        <hr><p>Graduate Applicants</p>
        <form action="../../staff/graduateApplicants" method="post" >
            <label for="term">SemesterYear</label>
            <select name="term">
                <option value="" selected></option>
                <option value="W2024">W2024</option>
                <option value="S2023">S2023</option>
                <option value="F2023">F2023</option>
             </select>
             <label for="lastname">Degree Program</label>
             <select name="program">
                <option value="" selected></option>
                <option value="MS">MS</option>
                <option value="MSE">MSE</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    
    <div>
        {% if roles[0][4] == 'YES' %}
        <hr><p>List Admitted Students</p>
        <form action="../../staff/admittedStudents" method="post" >
            <label for="term">SemesterYear</label>
            <select name="term">
                <option value="" selected></option>
                <option value="W2024">W2024</option>
                <option value="S2023">S2023</option>
                <option value="F2023">F2023</option>
             </select>
             <label for="lastname">Degree Program</label>
             <select name="program">
                <option value="" selected></option>
                <option value="MS">MS</option>
                <option value="MSE">MSE</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    
    <div>
        {% if roles[0][4] == 'YES' %}
        <hr><p>Statistics</p>
        <form action="../../staff/statistics" method="post" >
            <label for="term">SemesterYear</label>
            <select name="term">
                <option value="" selected></option>
                <option value="W2024">W2024</option>
                <option value="S2023">S2023</option>
                <option value="F2023">F2023</option>
             </select>
             <label for="lastname">Degree Program</label>
             <select name="program">
                <option value="" selected></option>
                <option value="MS">MS</option>
                <option value="MSE">MSE</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    
    <div>
        {% if roles[0][4] == 'YES' %}
        <hr><p>Graduating Students</p>
        <form action="../../staff/graduateApplicantsCleared" method="post" >
            <label for="term">SemesterYear</label>
            <select name="term">
                <option value="" selected></option>
                <option value="W2024">W2024</option>
                <option value="S2023">S2023</option>
                <option value="F2023">F2023</option>
             </select>
             <label for="lastname">Degree Program</label>
             <select name="program">
                <option value="" selected></option>
                <option value="MS">MS</option>
                <option value="MSE">MSE</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    
    <div>
        {% if roles[0][4] == 'YES' %}
        <hr><p>Alumni List</p>
        <form action="../../staff/alumniList" method="post" >
            <label for="term">SemesterYear</label>
            <select name="term">
                <option value="" selected></option>
                <option value="W2024">W2024</option>
                <option value="S2023">S2023</option>
                <option value="F2023">F2023</option>
             </select>
             <label for="lastname">Degree Program</label>
             <select name="program">
                <option value="" selected></option>
                <option value="MS">MS</option>
                <option value="MSE">MSE</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    
    <div>
        {% if roles[0][4] == 'YES' %}
        <hr><p>Current Students</p>
        <form action="../../staff/currentStudents" method="post" >
            <label for="term">SemesterYear</label>
            <select name="term">
                <option value="" selected></option>
                <option value="W2024">W2024</option>
                <option value="S2023">S2023</option>
                <option value="F2023">F2023</option>
             </select>
             <label for="lastname">Degree Program</label>
             <select name="program">
                <option value="" selected></option>
                <option value="MS">MS</option>
                <option value="MSE">MSE</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    
    <div>
        {% if roles[0][4] == 'YES' %}
        <hr><p>Change Current Advisor</p>
        <form action="../../staff/changeAdvisor" method="post" >
            <label for="id">Student ID</label>
            <input type="text" name="studentID" size="5">
            <label for="id">Advisor ID</label>
            <input type="text" name="advisorID" size="5">
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    
    <div>
        {% if roles[0][4] == 'YES' or roles[0][2] == 'YES' %}
        <hr><p>List of Courses and Grades</p>
        <form action="../../students/viewGrades" method="post" >
            <label for="id">Student ID</label>
            <input type="text" name="studentId" size="5">
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    <div>
        {% if roles[0][2] == 'YES' %}
        <hr><p>List of Advisees</p>
        <form action="../../staff/viewAdvisees" method="post" >
            <label for="id">Advisor ID</label>
            <input type="text" name="password" value="{{password}}" hidden>
            <input type="text" name="previousUrl" value="{{previousUrl}}" hidden>
            <input type="text" name="userId" size="5">
            <input type="submit" value="Submit"/>
        </form>
        {% endif %}
    </div>
</body>

</html>