<html>
<!--head etc-->

<body>
    <a href="/">Home</a> | <a href="/prospectiveStudents">Prospective Students</a> | <a href="/students">Students</a> | <a href="/staff">Staff</a> | <a href="/alumni">Alumni</a>
    <h1>Staff Landing Page</h1>
    <form action="./staff/updateApplications">
        <input type="submit" value="GS - Update Applications" />
    </form>
    <form action="./staff/reviewApplications">
        <input type="submit" value="Reviewer - Review Applications" />
    </form>
    <form action="./staff/finalDecisionApplications">
        <input type="submit" value="CAC - Final Decision" />
    </form>
    <form action="./staff/formallyAdmitApplicants">
        <input type="submit" value="GS - Formally Admit Applicant" />
    </form>
    <form action="./staff/gradeStudents">
        <input type="submit" value="GS - Grade Students" />
    </form>
</body>
</html>