<html>
   <style>
      table,
      th,
      td {
          border: 1px solid black;
      }
  </style>
<body>
   <a href="/">Home</a> | <a href="/prospectiveStudents">Prospective Students</a> | <a href="/students">Students</a> | <a href="/staff">Staff</a> | <a href="/alumni">Alumni</a>
   <h1>Check Student Application Status</h1>
   <p>For simplicity - use Applicant ID as Password</p>
   <form action="../checkAdmissionApplication" method="post">
      <p>email:</p>
      <p><input type="text" name="email" /></p>
      <p>password:</p>
      <p><input type="text" name="password" /></p>
      <p><input type="submit" value="submit" /></p>
   </form>
   <br>
   <hr>
   <p>Helper - Applicants</p>
   <table>
       <tr>
           <th>Applicant ID</th>
           <th>Name</th>
           <th>Email</th>
           <th>Password</th>
       </tr>
       {% for n in applicants %}
       <tr>
           <th>{{n[0]}}</th>
           <th>{{n[1]}} {{n[2]}}</th>
           <th>{{n[3]}}</th>
           <th>{{n[4]}}</th>
       </tr>

       {% endfor %}

   </table>
</body>

</html>