<html>
<!--head etc-->

<body>
    <a href="/">Home</a> | <a href="/prospectiveStudents">Prospective Students</a> | <a href="/students">Students</a> | <a href="/staff">Staff</a> | <a href="/alumni">Alumni</a>
    <h1>Prospective Students landing page</h1>
    <form action="./prospectiveStudents/application">
        <input type="submit" value="New Application" />
    </form>
    <form action="./prospectiveStudents/checkStatus">
        <input type="submit" value="Check Application" />
    </form>
</body>
</html>